<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="main.css">

  </head>
  <body>
    <div class="nav">
      <nav>
        <ol class="loginnav">
          <a href="/home">Gabble</a>
          <a href="/creategab">Create a new gab</a>
          <a href="/">Log in</a>
          <a href="/signup">Sign Up</a>
        </ol>
      </nav>
    </div>
  </body>
</html>
