<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="nav">
      <nav>
        <ol class="loginnav">
          <a href="/home">Gabble</a>
          <a href="/creategab">Create a new gab</a>
          <a href="/">Log in</a>
          <a href="/signup">Sign Up</a>
        </ol>
      </nav>
    </div>
    <h1>Log in</h1>
    <form class="" action="index" method="post">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" value="" placeholder="Enter your User Name">
      <br>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" value="">
      <br>
      <input type="submit" name="signup" value="Log in">
    </form>

  </body>
</html>
